@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import "variables";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $body-font;
    margin: 0;
    font-size: $normal-font-size;
    font-weight: $font-medium;
    color: $text-color;
    line-height: 1.6;
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $text-color;
}

img {
    max-width: 100%;
    // height: auto;
    display: block;
}

@import "section";
@import "layout";
@import "nav";
@import "home";
@import "about";
@import "skills";
@import "portfolio";
@import "contact";
@import "footer";

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 4rem;
    }
    .section-title {
        margin-bottom: 3rem;

        &::after {
            width: 64px;
            top: 3rem;
        }
    }

    .nav {
        height: 4rem;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: $mb4;
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: $white-color;

        &:hover {
            color: $white-color;
        }
    }

    .active::after {
        background-color: $white-color;
    }

    .home__container {
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home_img {
        width: 524px;
        right: 10%;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }

    .about__img {
        width: 200px;
        height: 200px;
    }

    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .portfolio__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .contact__form {
        width: 380px;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}
